@{
    ViewBag.Title = "Home Page";
}


<!--code goes here for our form fields for number guessing game-->

<h2><strong>Crypto Tracker - <span id="cryptoName">bitcoin</span></strong></h2>

<select class="form-control" id="cryptoDropdown">
    <option selected="selected" value="bitcoin">Bitcoin (BTC)</option>
    <option value="ethereum">Ethereum (ETH)</option>
    <option value="tether">Tether (USDT)</option>
    <option value="ripple">Ripple (XRP)</option>
    <option value="avalanche-2">Avalanche (AVAX)</option>
    <option value="solana">Solana (SOL)</option>
</select>

&nbsp;

<div class="chart-container" style="position: relative; height:1000px; width:1000px">
    <canvas id="cryptoChart"></canvas>
</div>