<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<bindings>
		<basicHttpBinding>
			<binding name="BasicHttpBinding_IAirplaneServicer" allowCookies="true" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" maxBufferPoolSize="2147483647">
				<readerQuotas maxDepth="32" maxArrayLength="2147483647" maxStringContentLength="2147483647" />
			</binding>
		</basicHttpBinding>
	</bindings>
</configuration>
